button {
  background-color: #f2c33c;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #000000;
  border: 3px solid #808080;
}
button:hover {
  background-color: #7cc272;
  color: #333333;
}

.hidden {
  display: none;
}

.showing {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #00a8ff;
  color: #000000;
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
